body {
    background-color: grey;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    width: 980px;

}

h4{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

.line  {
    background-color: #ebebeb;
    height: 70px;
    width: 980px;
    border: 5px solid grey;
    padding: 15 px;
    margin: 15 px;
    padding-top: 30px;

    text-align: center;
}

#big {
    height: 300px;
    width: 1000px;
}

.section {
    float: left; 

    background-color: #ebebeb;
    height: 300px;
    width: 495px;
    border: 5px solid grey;
    padding: 15 px;
    margin: 1 px;
    padding-top: 30px;

    text-align: center;
    box-sizing: border-box;

}

.aside {
    position: relative;
    float: right;

    color: #777;
    background-color: #ebebeb;
    height: 300px;
    width: 495px;
    border: 5px solid grey;
    padding: 15 px;
    margin: 1 px;
    padding-top: 30px;

    box-sizing: border-box;
    text-align: center;
}

.article-box {
    color: #ebebeb;
    background-color: #777;
    height: 200px;
    width: 450px;
    border: 15px solid #ebebeb;
    padding: 15 px;
    margin: 1 px;
    padding-top: 7px;

}

.inside-box {
    color: #777;
    background-color: #ebebeb;
    height: 60px;
    width: 430px;
    border: 10px solid #777;
    padding: 10 px;
    margin: 1 px;
    padding-top: 15px;
}
.footer{
    float: bottom;
    
    background-color: #ebebeb;
    height: 70px;
    width: 980px;
    border: 5px solid grey;
    padding: 15 px;
    margin: 15 px;
    text-align: center;
    padding-top: 30px;

    
}

.clearfix::after {
    overflow: auto;
    content: "";
    display: block;
    clear: both;
  }